.card{
    margin-left: 12rem;
    margin-right: 12rem;
}
.section{
    display: flex;
}
.section:hover{
    color: blue;
    cursor: pointer;
}
.topie{
    width: 38rem;
}
.image{
    width: 60rem;
}
