.app-card{
    margin: 5rem 12rem;
}
.section{
    display: flex;
}
.action:hover{
    color: blue;
    cursor: pointer;
}
.topie{
    width: 38rem;
}
.image{
    width: 60rem;
}
@media (max-width: 915px){
    .image{
        width: 27rem;
    }
}
@media (max-width: 420px){
    .app-card{
        margin: 0rem 0rem;
    }
}
